@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: Fonte_materia;
    src: url(../fonts/Arial/Arial.ttf);
    /*font-weight: 700;*/
}

@font-face {
    font-family: Fonte_manchete;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-weight: 700;
}

@font-face {
    font-family: Fonte_destaque;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    src:url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-weight: 700;
}
@font-face {
    font-family: Fonte_subtitle;
    src:url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-weight: 400;
}
